<%= render "shared/show-header" %>

    <div class="show-post">
        <div class="show-date">
         <div class='nav'>
          <div class="date-time">
          <%= @post.created_at.strftime('%Y/%m/%d %H:%M') %>
          </div>
            <% if user_signed_in? && current_user.id == @post.user_id %>
            <ul class='lists-right'>
              <li><%= link_to '削除', post_path, method: :delete, class: "show-list" %></li>
              <li><%= link_to '編集', edit_post_path, class: "show-list" %></li>
            </ul>
              <% end %>
    </div>

          <%= image_tag @post.image, class: "show-image" if @post.image.attached? %>
          <div class="show-title">
            <%= @post.title.truncate(30) %>
          </div>
            <div class="show-category">
              <%= @post.category.name %>
            </div>
            <div class="show-text">
              ・<%= @post.text.truncate(100) %>
            </div>
            <div class="show-prefecture">
              <%= @post.prefecture.name%>
            </div>
          </div>
    </div>
           <div class="button">
            <%= link_to 'お気に入り', "#", class: "button-064" %>
            <%= link_to 'コメント', new_post_comment_path(@post.id), class: "button-002" %>
     <%# コメント一覧表示%>
  <div class="comments">
      <h4 class= "comments-title">
      コメント一覧
      </h4>
       <div class="comment-show">
      <% @comments.each do |comment| %>
        <p>
          <strong><%= link_to comment.user.nickname, "/users/#{comment.user_id}", class: "comment-user" %></strong>
          <br><%= comment.comment_text %>
        </p>
      <% end %>
       </div>
  </div>
    <%# コメント一覧表示%>
          </div>

    <%= render "shared/footer" %>